* {
  box-sizing: border-box;
  padding-left: 4px;

  margin: 0;
}
body {
  font-family: "lato", sans-serif;
  color: rgb(253, 253, 255);
  background-color: black;
  padding-bottom: 16px;
  line-height: 1.6;
}

#navbar {
  background-color: rgb(255, 111, 0);
  overflow: hidden;
  text-align: right;
  color: crimson;
  height: 80px;
  padding-top: 8px;
  padding-left: 0%;
  position: fixed;
  width: 100%;
}
#tail {
  background-color: rgb(255, 111, 0);
  height: 120px;
  padding-bottom: 10px;
}

#tail a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  float: right;
  padding: 20px;
  font-size: 24px;
}

#navbar a:hover {
  color: rgb(204, 209, 220);
  height: 25px;
}

#navbar a {
  padding: 30px;
  color: black;
  text-decoration: none;
  font-size: 25px;
}
#tail a:hover {
  color: rgb(229, 235, 249);
  height: 25px;
}

#welcome-text {
  background-color: rgb(65, 69, 67);
  padding-top: 320px;
  padding-bottom: 260px;
  text-align: center;
}

#welcome-text h2 {
  color: rgb(245, 54, 11);
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.project-tile h2 {
  color: rgb(161, 127, 255);
  text-align: center;
}

.project-tile img {
  padding: 8px;
  border-radius: 6%;
}
#grid a:hover {
  box-shadow: 0px 4px 8px rgb(161, 127, 255);
  transform: translateY(-8px);
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#grid h3 {
  text-align: center;
  color: rgb(226, 171, 224);

  width: 400px;
}

#grid a {
  text-decoration: none;
}

@media (max-width: 767px) {
  #grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    padding-left: 20px;
  }
  #grid h3 {
    text-align: center;
    color: rgb(226, 171, 224);
    padding-bottom: 20px;
  }
}
